
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
      <h1 class="govuk-heading-xl">
          A to Z
        </h1>
        
		        <p>
          	    An A to Z of terms we use for data and measurement in DWP Digital Health and&nbsp;Disability.
        	    </p>


          <h2 class="govuk-heading-l">A</h2>

<!-- add A to Z content type here, with variable "initial: 'a'" -->


          <h2 class="govuk-heading-l">D</h2>

<!-- add A to Z content type here, with variable "initial: 'd'" -->


          <h2 class="govuk-heading-l">M</h2>

<!-- add A to Z content type here, with variable "initial: 'm'" -->


          <h2 class="govuk-heading-l">R</h2>

<!-- add A to Z content type here, with variable "initial: 'r'" -->





{% endblock %}
