
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
      <h1 class="govuk-heading-xl">
          A to Z
        </h1>
        
		        <p>
          	    An A to Z of terms we use for data and measurement in DWP Digital Health and&nbsp;Disability.
        	    </p>

 {% for letter, items in groupedData %}

          <h2 class="govuk-heading-l">{{ letter | upper }} </h2>

          {% for item in items %}
          <h3 id="linked-data" tabindex="-1" class="govuk-heading-m">
            <a href="{{ item.termName | lower | replace(' ', '_') }}" class="govuk-link">{{ item.termName }}</a>
          </h3>

          <p> {{ item.description }} </p>
          <!--
          {{ item | dump }}
          -->
          {% endfor %}

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

 {% endfor %}



{% endblock %}
